@import "tailwindcss";

@config "../tailwind.config.ts";

@font-face {
    font-family: "aPixel";
    src: url("./aPixel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "aPixel", sans-serif;
}
